name: Backend CI/CD

on:
  push:
    branches:
      - main
    paths:
      - backend/**
      - .github/workflows/backend-ci-cd.yml

  pull_request:
    branches:
      - main
    paths:
      - backend/**

  workflow_dispatch:

jobs:
  backend-build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build backend Docker image
        run: docker build -t backend:latest ./backend

      - name: Tag & push backend image
        run: |
          echo "ECR_REPO_URI=${{ secrets.ECR_REPO_URI }}"
          docker tag backend:latest ${{ secrets.ECR_REPO_URI }}:backend-latest
          docker push ${{ secrets.ECR_REPO_URI }}:backend-latest
